/* Theme */
:root {
  /* Primary - 草地绿 */
  --primary: 125 30% 55%;
  /* Foreground - 蓝绿深色 */
  --foreground: 180 20% 26%;
  --muted-foreground: 180 15% 40%;
  /* Background - 雾白色 */
  --background: 150 10% 96%;
  --muted: 150 15% 90%;
  --card: 150 12% 94%;

  /* Basic - 淡绿灰 */
  --border: 150 12% 82%;
  --input: 150 12% 85%;
  --ring: 125 30% 45%;
  --radius: 0.5rem;
}
.dark {
  /* Primary - 粉紫晚霞 */
  --primary: 320 20% 78%;
  /* Foreground - 浅色雾气 */
  --foreground: 165 20% 94%;
  --muted-foreground: 195 15% 70%;
  /* Background - 深邃山体 */
  --background: 195 35% 16%;
  --muted: 195 20% 37%;
  --card: 195 25% 22%;

  /* Basic - 山体蓝 */
  --border: 195 20% 44%;
  --input: 195 20% 38%;
  --ring: 320 20% 68%;
}
:root {
  --un-default-border-color: hsl(var(--border) / 1);
}
html.dark {
  color-scheme: dark;
}

/* Global */
a {
  transition: color 0.2s ease;
  &:hover {
    color: hsl(var(--primary) / var(--un-text-opacity, 1));
  }
}
